.Day {
    background-color: rgba(43, 154, 191, 0.826);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    padding: 5px;
}