.Home {
    min-height: 93vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.PrincipalCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width: 60%;
}

.Cities {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.Day__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.Others {
    width: 40%;
}

.Title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.OthersTitle {
    display:flex;
    justify-content: center;
}

h2 {
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.searchContainer {
    display: flex;
    position: absolute;
    top: 50%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(96, 168, 118, 0.715);
    flex-direction: column;
    align-items: center;
}