.City {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(66, 66, 66);
    background-color: rgba(10, 109, 106, 0.75);
    box-shadow: 0px 0px 10px rgb(68, 66, 66);
    padding: 10px;
}