.CurrentDay {
    height: 35%;
    width: 100%;
}

.NextDay {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}